
@keyframes wobble {
    0%, 100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
html{
    height: 100vh;
}
body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    padding: 30px;
    background-color: #f0f0f0;
}

header .logo {
    width: 50px;
    position: absolute;
    left: 10px;
}

header h1 {
    margin: 0;
    position: absolute;
    font-size: 1.5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-bottom: 30vh;
}

.choices input {
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: filter 0.1s ease, transform 0.1s ease;
    animation: wobble 0.5s infinite;
}

.choices input:hover {
    filter: brightness(1.2) saturate(1.5);
    transform: scale(1.1) rotate(10deg);
    animation: none;
}

#result-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
    animation: fadeIn 0.5s ease;
}

.Result {
    font-size: 3rem;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    text-shadow: 2px 2px 6px rgba(192, 147, 147, 0.5);
}

#restartButton {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #ff7e5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

#restartButton:hover {
    background-color: #feb47b;
}
